<div class="container">
    <div class="row">
      <div class="col-md-12 blur">
        <div class="jumbotron mt-3">
          <div class="row">
            <div class="col-md-6 mx-auto" style="text-align: center">
              <img style="width: 25%" src="../../../assets/img/play-buttonBLK.svg" alt="GameShorts">
            </div>
            <br>
          </div>
          <h1 class="display-4">Game Shorts</h1>
          <p class="lead">A custom place, for gamers by gamers. [ALPHA RELEASE]</p>
          <hr class="my-4">
          <p>Game Shorts was created as a place for gamers to upload there best moments to share with the world.
            <br> With no limits to content, a perfect mecca for gamers to share those epic, one time moments.</p>
          <br>
          <small>Developer
            <br> Lewis Morgans
            <br>Software Engineer</small>
        </div>
      </div>
    </div>
  
  </div>