<div class="container-fluid">
  <div class="row">
      <div id="banner" class="col-md-12"></div>
  </div>
</div>


<div class="container">
    <div class="row">
       

      
      <div class="col-md-12 blur">
        
          <div class="row mt-5">
            <div class="col-md-6 mx-auto" style="text-align: center">
              <img style="width: 25%" src="../../../assets/img/play-buttonBLK.svg" alt="GameShorts">
            </div>
            <br>
          </div>
          <h1 class="display-4"><span style="color: #f9826c">G</span>ame <span style="color:#f9826c">S</span>horts</h1>
          <p class="lead">A custom place, for gamers by gamers. [Beta]</p>
          <hr class="my-4">
          <p>Game Shorts was created as a place for gamers to upload there best moments to share with the world.
            <br> With no limits to content, a perfect mecca for gamers to share those epic, one time moments.</p>
          <br>
          
        </div>
        
      </div>

      <div class="row mt-4 mb-4">
        <div class="col-md-12 mx-auto">
            <h1 class="display-4">Featured Shorts</h1>
            <hr>
        </div>
        <div class="col-md-4">
            <video width="100%" controls="controls">
                <source src="../../../assets/video/Choo Choo - Overwatch.mp4" type="video/mp4">
              </video>
        </div>
        <div class="col-md-4">
            <video width="100%" controls="controls">
                <source src="../../../assets/video/2.mp4" type="video/mp4">
              </video>
        </div>
        <div class="col-md-4">
            <video width="100%" controls="controls">
                <source src="../../../assets/video/3.mp4" type="video/mp4">
              </video>
        </div>
      </div>
    
  
  </div>