* {
    text-align: center;
}

#banner {
    background-image: url('../../../assets/img/banner.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: #666666;
    font-weight: 600;
}