* {
    text-align: center;
}

#banner {
    background-image: url("../../../assets/img/banner.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: rgb(214, 216, 218);
    font-weight: 600;
}

h1 {
    color: rgb(214, 216, 218);
}
