input[type="file"] {
    display: none;
}

input{
    background-color: #666666;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    transition: 0.2s all;
    border-radius:10px;

}

input:focus {
    color: #FFF;
    background-color: #666666;
    transform: scale(1.07);
    transition: 0.2s all;
}

::placeholder {
    color: #ccc;
    opacity: 1; /* Firefox */
}

textarea {
    background-color: #666666;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    transition: 0.2s all;
    border-radius:10px;
}

textarea:focus {
    color: #FFF;
    background-color: #666666;
    transform: scale(1.07);
    transition: 0.2s all;
}