<!-- Footer -->
<footer id="footer" class="page-footer font-small indigo mt-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Join the Dev Team</h5>
                <form>
                    <div class="form-group row">

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                        value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Front End Engineer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Back End Engineer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                        value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        UX/UI Design
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-secondary btn-lg btn-block">Send</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 justify-center">FIND US</h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.0215359472245!2d-3.1659256611691338!3d51.47611899723459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1cca46ba39d1%3A0x38b68aca4a9d5a63!2sCardiff+CF10+4DW!5e0!3m2!1sen!2suk!4v1554408291884!5m2!1sen!2suk"
                     frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/fb_logo.png"></a>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/ig_logo.png"></a>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/tw_logo.png"></a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p id="copyRightText">&copy; {{currentDate | date: 'yyyy'}} Mythic Media</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->