<footer id="footer" class="page-footer font-small indigo mt-5">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Join the Dev Team</h5>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <form [formGroup]="joinUsFormGroup" (ngSubmit)="joinUsForm">
                                <input type="email" formControlName="emailAddress" class="form-control" id="inputEmail3"
                                    placeholder="Email">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input formControlName="category" class="form-check-input" type="radio"
                                                    name="category" id="gridRadios1" value="Front End Engineer">
                                                <label class="form-check-label" for="gridRadios1">
                                                    Front End Engineer
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input formControlName="category" class="form-check-input" type="radio"
                                                    name="category" id="gridRadios2" value="Back End Engineer">
                                                <label class="form-check-label" for="gridRadios2">
                                                    Back End Engineer
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input formControlName="category" class="form-check-input" type="radio"
                                                    name="category" id="gridRadios2" value="UX/UI Design">
                                                <label class="form-check-label" for="gridRadios2">
                                                    UX/UI Design
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" (click)="joinUsForm()"
                                class="btn btn-secondary btn-lg btn-block">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 justify-center">FIND US</h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.0215359472245!2d-3.1659256611691338!3d51.47611899723459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1cca46ba39d1%3A0x38b68aca4a9d5a63!2sCardiff+CF10+4DW!5e0!3m2!1sen!2suk!4v1554408291884!5m2!1sen!2suk"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/fb_logo.png"></a>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/ig_logo.png"></a>
                        <a href="#!"><img id="socialIcons" src="../../../assets/img/tw_logo.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <p id="copyRightText">&copy; {{currentDate | date: 'yyyy'}} Mythic Media</p>
    </div>
</footer>