/* blank */

.navbar {
    background-color: #1b1d23;
}

ul {
    list-style: none;
}

a {
    color: #1B1D23;
    font-weight: 600;
}

input {
    outline: none !important;
}

.btn {
    background-color: #f9826c;
    margin: 5px;
}
