<div class="container-fluid">
  <div class="row">
    <div id="banner" class="col-md-12">
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-6 mx-auto" style="text-align: center">
    <h1>{{objectKey | titlecase}}'s Videos</h1>
  </div>
  <br>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-4 mt-3" *ngFor="let video of userVideos | reverse">
      <div>
        <div *ngIf="objectKey == video.displayName">
          <div class="card mt-2 mb-2">
            <a [routerLink]="['/image', video.$key]">
              <video width="100%">
                <source [src]="video.url" type="video/mp4">
              </video>
            </a>
            <p class="lead">{{video.title}} by {{video.displayName}}</p>
          </div>
          <div *ngIf="displayName == objectKey">
            <button class="btn btn-block" (click)="deleteVideo((video.$key), (video.name))">Delete
              video</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>