#about {
    z-index: 50;
    position: fixed;
    text-align: center
}

h3 {
    font-family: 'Press Start 2P', cursive;
}

#banner {
    background-image: url('../../../assets/img/banner.png');
    height: 500px;
}
