<div class="container-fluid">
    <div class="row mt-5">
      <div id="banner" class="col-md-12">
      </div>
    </div>
  </div>
  <div class="container mb-auto">
    <div class="row mt-1">
      <div class="col-md-10 mx-auto" style="text-align: center">
        <img id="notFound" src="../../../assets/img/404.jpg">
      </div>
      <br>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 mx-auto">
        <h1 class="center">User not found please search again...</h1>
      </div>
    </div>
  
  </div>